<!DOCTYPE html>
<html>
    <head>
        <title>Wandering Shop Reviews</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <h1>Wandering Shop Reviews</h1>
        <p style="text-align:center;"><a href="https://github.com/emmajuettner/wandering-shop-reviews">code</a></p>
        <hr>
        {{ novel }}
        <h2>Bibliography</h2>
        {{ bibliography }}
        <div style="padding-top: 5em;">
    </body>
</html>
